@import 'variables'

// Styles for the nav
.nav
  background-color: #84D628
  color: $black
  a
    text-decoration: none
    padding: 1em
    font-size: 2em
  ul
    font-family: $font-monospace
    margin-top: 1em
    
