@import 'nib'

global-reset()

@import 'variables'
@import 'mixins'
@import 'layout'
@import 'buttons'
@import 'nav'
@import 'notes/index'

*
  box-sizing(border-box)

body
  font-family: $font
  background-color: #FF5E45

a
  color: $black
  &:hover
    text-decoration: none

pre
  font-family: $font-monospace
  font-weight: bold

.content
  height: 100%
