// Colors
$white        = #FFFFFF
$black        = #000000
$primrose     = #D6E99A
$wildWillow   = #AFC46A
$sycamore     = #81963D
$fernFrond    = #51611E
$flamingo     = #EE6630
$colors       = #D0F54F,#FCFF33,#FFA71B,#FF5E45

// SEMANTICALLY NAMED COLORS
$bgColor      = #FF5E45

// FONTS
$font = Helvetica, Arial, sans-serif
$font-monospace = monospace

// MEDIA QUERY SIZES
$screenLarge  = '(max-width: 1600px)'
$screenMedium = '(max-width: 767px)'
$screenSmall  = '(max-width: 480px)'

// RADIUS
$globalRadius  = 8px
$globalRounded = 1000px
