@import '../variables'

$sidebarWidth = 25%

.notes-sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: $sidebarWidth
  height: 100%
  background-color: $colors[0]
  padding: 0

.notes-link
  a
    display: block
    width: 100%
    padding: 1em
    text-decoration: none
    &:hover
      background-color: darken($colors[0], 30%)

.notes-add
  background-color: $colors[1]
  .button
    font-size: 2em

.notes-content
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: $sidebarWidth
  width: 100% - $sidebarWidth
  padding: 1em
  h1
    font-size: 3em
    padding: 0 0 .3em 0
    margin: 0 0 .3em 0
    border-bottom: 1px solid darken($colors[0], 30%)
  em
    clearfix()
    display: block
    width: 100%
    padding-bottom: 1em
  .editor
    width: 45%
    float: left
    padding-right: 1em
  .preview
    width: 50%
    float: left
